body {
    background-color: rgb(187, 187, 187);
    margin: 0;
    overflow: hidden;
    height: 100%;
}

*::selection {
    background-color: transparent;
}


#kapsayici {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 30px;

}

/*Vektör Parent'ları*/

#vectorContainer {
    display: inline-block;
    width: 700px;
    height: 700px;
    border: 2px solid red;
    position: absolute;
    margin-right: 700px;
}

#vectorContainer2 {
    display: inline-block;
    width: 700px;
    height: 700px;
    border: 2px solid #000;
    position: relative;
}

#vectorContainer3 {
    display: inline-block;
    width: 700px;
    height: 700px;
    border: 2px solid blue;
    position: absolute;
    margin-left: 700px;
}

/* Vektörler */

#vector {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    width: 360px;
    height: 5px;
    background-color: red;
}

#vector2 {
    position: absolute;
    top: 50%;
    left: calc(50% - 350px);
    transform-origin: 0% 50%;
    width: 700px;
    height: 5px;
    background-color: rgb(55, 55, 55);
}

#vector3 {
    z-index: 3;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    width: 360px;
    height: 5px;
    background-color: blue;
}

#vectorSu {
    font-size: 24px;
    position: absolute;
    top: 40%;
    left: calc(50% - 610px);
    transform-origin: 0% 50%;
    width: 1220px;
    height: 5px;
    background-color: rgb(55, 55, 55);
    border: 2px dashed rgb(26, 165, 207);
}

#aci1,
#aci2 {
    font-size: 24px;
}

#aci1::selection,   
#aci2::selection {
    background-color: tr"an"sparent;
}

#aci2 {
    float: right;
}

#belowPart {
    position: relative;
    color: #FF9800;
    display: block;
    width: 100%;
    background-color: #5F8670;
    height: 24vh;
    font-size: 32px;
}


#belowPart form {
    position: absolute;
    top: 32px;
    color: #FF9800;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #5F8670;
    font-size: 32px;
}



#belowPart input {
    font-size: 26px;
    height: 20px;
    background-color: #FFE382;
    padding-top: 4px;
    padding-bottom: 4px;
}

#belowPart button {
    font-size: 18px;
    height: 34px;
    padding-top: 8px;
    color: #B80000;
    background-color: #FF9800;
}

#guncelUzunluk {
    color: #B80000;
    position: absolute;
    top: 70px;
    left: 40%;
}

#suYuksekligi {
    color: #820300;
    position: absolute;
    top: 110px;
    left: 40%;
}

#anlikAlan {
    color: #FCE09B;
    position: absolute;
    top: 150px;
    left: 700px;
}

#maximumAlanaUlasildi {
    display: none;
    position: absolute;
    top: 160px;
    left: 760px;
    color: #65B741;
    font-weight: bold;
    font-size: 32px;
}
